/*
    Author: Aditya Gupta, Karan Anand
    Course: CSC 337
    Final Project, Edurate, style.css

    Style sheet for account creation
    web pages - index.html, login.html,
    signup.html
*/
body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #153655;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgb(227, 239, 244);
    height: 100vh;

}

.heading-containerSU {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgb(227, 239, 244);
    height: 110vh;

}

.heading {
    font-size: 2rem;
    text-align: center;
    color: #153655;
}

.mainScreenBut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #153655;
    padding: 20px;
    flex: 0 0 40%;
    font-size: 25px;
    text-align: center;
    color: white;
}

.mainScreenBut button {
    margin: 2px;
    border: none;
    color: rgb(227, 239, 244);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    background-color: rgb(227, 239, 244);
    color: black;
    border: 2px solid #021020;
}

.mainScreenBut button:hover {
    background-color: #19456A;
    color: rgb(227, 239, 244);
}

.loginTitle {
    text-align: center;
    padding-top: 50px;
}

.loginScreen,
.signupScreen {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    background-color: #153655;
    padding: 20px;
    flex: 0 0 40%;
    font-size: 25px;
    text-align: center;
    color: white;
}

.loginScreen button {
    margin: 2px;
    border: none;
    color: rgb(227, 239, 244);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    background-color: rgb(227, 239, 244);
    color: black;
    border: 2px solid #021020;
}

.loginScreen button:hover {
    background-color: #19456A;
    color: rgb(227, 239, 244);
}

.loginStu input,
.signUp input {
    height: 50px;
    font-size: 20pt;
}

img {
    position: relative;
    left: -25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}