/*
    Author: Aditya Gupta, Karan Anand
    Course: CSC 337
    Final Project, Edurate, coursestyle.css

    Style sheet for course_page.html
*/

body {
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #153655;
    color: white;
    padding-bottom: 20px;
}

#control {
    z-index: 2;
    background-color: rgb(42, 42, 42);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#control img {
    height: 75px;
    width: 150px;
    margin-right: 30px;
}

#control button {
    color: white;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

#control button:hover {
    text-decoration: underline;
    background-color: #4993D4;
    color: #EDF4FC;
    transform: scale(1.5);
}

#control .nav-item {
    color: #4993D4;
    font-size: 16px;
    cursor: pointer;
}

#crs_ovrw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-bottom: 5px;
    margin-top: 75px;
    color: white;
}

a {
    color: #EDF4FC;
}

#crs_ovrw {
    font-size: 40px;
    margin-top: 20px;
}

.bar {
    position: relative;
    height: 5px;
    background-color: white;
    width: 1200px;
    margin: auto;
    margin-top: 0.1px;
    margin-bottom: 15px;
}

#crsText {
    background-color: #122840;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
}

.ovrwHead {
    text-align: center;
}


#add_rv {
    position: relative;
    background-color: rgb(42, 42, 42);
    padding: 10px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.rv {
    background-color: #0a1725;
    border-radius: 25px;
    padding: 40px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    color: #C2DBF1;
}

textarea {
    width: 60%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    display: block;
    margin-left: auto;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    margin-right: auto;
}

input[type=range] {
    width: 25%;
    height: 30px;
    margin: 10px auto;
    background-color: transparent;
}

input[type=range]:active::-webkit-slider-thumb {
    background-color: #1976D2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

input[type=range]:active::-moz-range-thumb {
    background-color: #1976D2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

input[type=range]:active::-webkit-slider-runnable-track {
    background-color: #BBDEFB;
}

input[type=range]:active::-moz-range-track {
    background-color: #BBDEFB;
}


input[type=range]:focus {
    outline: none;
}

output {
    font-weight: bold;
}

button {
    background-color: #4993D4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: aliceblue;
    color: #122840;
}